:root {
    --cor-principal: #4772A4;
    --cor-fundo: #f4f7fb;
    --cor-texto: #1B1B1B;
    --cor-verde: #41A36F;
    --cor-vermelho: #C7363C;
}

body {
    background: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: "Segoe UI", sans-serif;
}

/* NAVBAR */
.topo { background: var(--cor-principal); }

/* SAUDAÇÃO */
.saudacao { background: var(--cor-principal); border-radius: 12px; }

/* SALDO */
.saldo-card { background: #cecdcd; border-radius: 12px; }
.saldo { font-size: 2rem; font-weight: bold; }

/* ENTRADAS / SAÍDAS */
.card-info { background: #cecdcd; border-radius: 12px; box-shadow: 0 2px 7px rgba(0,0,0,0.1); }
.entrada { border-left: 6px solid var(--cor-verde); }
.saida { border-left: 6px solid var(--cor-vermelho); }
.card-info h4 { font-size: 1.1rem; margin-bottom: 5px; opacity: 0.7; }
.card-info p { font-size: 1.4rem; font-weight: bold; }

/* BOTÕES */
.btn-verde, .btn-vermelho {
    border-radius: 10px;
    padding: 14px;
    border: 2px solid;
    font-weight: 600;
    transition: 0.25s;
    background: #fff;
}

.btn-verde { border-color: var(--cor-verde); color: var(--cor-verde); }
.btn-verde:hover { background: #a8f0cb; }

.btn-vermelho { border-color: var(--cor-vermelho); color: var(--cor-vermelho); }
.btn-vermelho:hover { background: #db9999; }

/* OPÇÕES */
.op-item {
    background: #bebebe;
    padding: 18px;
    border-radius: 10px;                     
    box-shadow: 0 2px 7px rgba(0,0,0,0.08);
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
    transition: 0.25s;
}
.op-item:hover { background: #a0a0a0; }
